
<div class="list-group-item active text-center mb-3">TẤT CẢ VĂN BẢN</div>
<ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
    <li class="nav-item">
        <a href="#incoming-text" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
            <i class="mdi mdi-home-variant d-md-none d-block"></i>
            <span class="d-none d-md-block">Văn bản đến</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#text-go" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Văn bản đi</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#internal-text" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
            <span class="d-none d-md-block">Văn bản nội bộ</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="incoming-text">
        <p>...</p>
    </div>
    <div class="tab-pane show active" id="text-go">
        <p>...</p>
    </div>
    <div class="tab-pane" id="internal-text">
        <p>...</p>
    </div>
</div>