<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thời gian:</h4>
            <div class="row">
                <div class="col-4">Bắt đầu:</div>
                <div class="col-8">{{batdau|date:"dd/MM/YYY"}}</div>
            </div>
            <div class="row">
                <div class="col-4">Hoàn thành</div>
                <div class="col-8">{{hoanthanh|date:"dd/MM/YYY"}}</div>
            </div>
        </div>
    </div>
</div>