<div class="container-fluid">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Danh mục</h4>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-9">
           
                    <table class="table table-striped table-centered mb-0">
                        <thead>
                            <tr class="table-dark">
                                <th>{{keyFilter.label}}</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of catalogData">
                                <td class="table-user">
                                    {{item[keyFilter.key]}}
                                </td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i
                                            class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i
                                            class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>
        <div class="col-3">
            <div class="list-group">
                <div class="list-group-item list-group-item-custom-dark">
                    Bộ lọc
                </div>
                <div (click)="filter('loaikhach','Loại khách hàng')" class="list-group-item pointer">
                    Loại khách hàng 
                </div>
                
                <div (click)="filter('doanhnghiep','Loại doanh nghiệp')" class="list-group-item pointer">
                    Loại doanh nghiệp
                </div>
                
                <div (click)="filter('nganhnghe','Loại ngành nghề')" class="list-group-item pointer">
                    Loại ngành nghề 
                </div>
                
                <div (click)="filter('hopdong','Loại hợp đồng')" class="list-group-item pointer">
                    Loại hợp đồng
                </div>                
                <div (click)="filter('sanpham','Loại sản phẩm')" class="list-group-item pointer">
                    Loại sản phẩm - dịch vụ
                </div>
            </div>
        </div>
    </div>
</div>