<div class="container-fluid">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Thêm mới hợp đồng</h4>
        </div>
    </div>
<div class="row">
    <div class="col-9 row">
        <div class="mb-3 col-6">
            <label for="example-select" class="form-label">Chọn khách hàng</label>
            <select class="form-select" id="example-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label for="simpleinput" class="form-label">Số hợp đồng</label>
            <input type="text" id="simpleinput" class="form-control">
        </div>

        <div class="mb-3 col-6">
            <label for="example-select" class="form-label">Loại hợp đồng</label>
            <select class="form-select" id="example-select">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="mb-3 col-6">
            <label for="simpleinput" class="form-label">Ngày kí:</label>
            <div class="mb-3">
                <input  class="form-control" id="example-date"
                    type="date" name="date">
            </div>
        </div>

        <div class="mb-3 col-6">
            <label for="simpleinput" class="form-label">Ngày thanh lý:</label>
            <div class="mb-3 ">
                <input  class="form-control" id="example-date"
                    type="date" name="date">
            </div>
        </div>
        
        <div class="mb-3 col-6">
            <label for="example-email" class="form-label">Người kí</label>
            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="">
        </div>
        
        <div class="mb-3 col-6">
            <label for="example-palaceholder" class="form-label">Chức vụ</label>
            <input type="text" id="example-palaceholder" class="form-control" placeholder="Chức vụ là gì nhỉ?">
        </div>

        <div class="mb-3 col-6">
            <label for="example-palaceholder" class="form-label">Giá trị</label>
            <input type="text" id="example-palaceholder" class="form-control" placeholder="Giá trị bao nhiêu?">
            <div class="mb-3 col-lg-6">
                <label for="example-select" class="form-label"></label>
                <select class="form-select" id="example-select">
                    <option></option>
                    <option>No results found</option>   
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Kì thanh toán</label>
            <input data-toggle="touchspin" type="number" value="1">
        
        </div>

        <div class="mb-3 ">
            <label for="example-palaceholder" class="form-label">Tạm ứng</label>
            <input type="text" id="example-palaceholder" class="form-control" placeholder="Giá trị bao nhiêu?">
        </div>

        <div class="mb-3 ">
            <label for="example-number" class="form-label">Người liên hệ</label>
            <input class="form-control" id="example-number" type="text" >
        </div>
        
        <div class="mb-3 ">
            <label for="example-number" class="form-label">Số điện thoại</label>
            <input class="form-control" id="example-number" type="number" name="number">
        </div>
        
        <div class="mb-3">
            <label for="example-textarea" class="form-label">Nội dung hợp đồng</label>
            <textarea class="form-control" id="example-textarea" rows="5"></textarea>
        </div>

        <div class="mt-3">
            <label for="example-textarea" class="form-label">Sản phẩm</label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="customCheck1">
                <label class="form-check-label" for="customCheck1">1</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="customCheck2">
                <label class="form-check-label" for="customCheck2">2</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="customCheck2">
                <label class="form-check-label" for="customCheck2">3</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="customCheck2">
                <label class="form-check-label" for="customCheck2">4</label>
            </div>
        </div>
        
        <div class="mb-3 ">
            <label for="example-fileinput" class="form-label">Đính kèm</label>
            <input type="file" id="example-fileinput" class="form-control">
        </div>

        <div  class = "row mb-3 col-6 d-grid">
            <button type = "button" class = "btn btn-primary" > Lưu </button >
        </div>


    </div>
    <div class="col-3">
        <div  class = "d-grid" >
            <button [routerLink]="'/client/contract'" data-bs-dismiss="modal" type = "button"  class = "btn btn-primary" > Quay lại </button >
           
    </div>
    </div>
</div>
    

    
    

</div>
