.gantt {
    overflow: overlay;
}

.gantt-row {
    display: grid;
    grid-gap: 0px 0px;
}

.gantt-gap {
    display: grid;
}

.moth {
    position: sticky;
    right: 0;
    left: 0;
}

.gantt-gap>.row {
    padding: 8px 0px;
    border-bottom: 1px solid black;
}

.gantt-header>span {
    grid-row: 1;
}

.dayofmonth {
    text-align: center;
    font-weight: bold;
    border-right: 1px solid black;
}

/*SCROLL BAR*/

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124);
}