<div class="container-fluid">
    <div class="col-11">
        <div class="page-title-box">
            <h4 class="page-title">Lịch tuần mẫu</h4>
        </div>
    </div>
    <table class="table table-centered mb-0">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Ngày</th>
                <th>Giờ</th>
                <th>Nội dung</th>
                <th>Địa điểm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ngô Hồng Lâm</td>
                <td>01/08/2022</td>
                <td>14h00</td>
                <td>Đi học</td>
                <td>Quận 12
                </td>
            </tr>
            <tr>
                <td>Ngô Hồng Lâm</td>
                <td>01/08/2022</td>
                <td>14h00</td>
                <td>Đi học</td>
                <td>Quận 12
                </td>
            </tr>
            <button [routerLink]="['/event/new-event-sample']" type="button" class="btn btn-info">
                Thêm mới
            </button>
        </tbody>
    </table>
    
</div>