<div class="content-main">
    <!------------------------------------------------------------------------------------------------------------------------------>
<div class="row">
    <div class="col-9">
<div class="grid-form1">
<div id="ctl22_dvTitle" class="ootoppage1">VĂN BẢN NỘI BỘ 2022 <i><font color="yellow">(2)</font></i></div>
<div class="col-md-8 single_right">
<div class="but_list">
<div class="TableOO" align="center">
<span id="ctl22_lblThongBao" style="color:Red;font-weight:bold;font-style:italic;"></span>
<div>
<table class="grid-view" cellspacing="0" cellpadding="4" align="Center" rules="all" border="1" id="ctl22_VANBAN" style="width:100%;border-collapse:collapse;">
<tbody><tr class="header">
<th align="center" scope="col">STT</th><th align="center" scope="col">Số VB</th><th align="center" scope="col">Trích yếu</th><th align="center" scope="col">Nơi nhận</th><th align="center" scope="col">Ngày PH</th><th align="center" scope="col">Nơi soạn thảo</th>
</tr><tr class="normal">
<td align="center" valign="top" style="width:5%;">
                3
            </td><td align="left" valign="top" style="width:11%;">
                KHÔNG SỐ
            </td><td align="left" valign="top" style="width:34%;">
                <a href="Index.aspx?P=VB13&amp;I=OO10112021082617U0002"><img border="0" src="Images/Normal.gif" align="top" width="19" height="16">&nbsp;<font color="Navy">------------------------</font></a><span class="ChuThichOO">(<img src="Images/cal-private.gif" title="Người tạo"> Giám Đốc, 02/06/2022 09:45, <img src="Images/eye.png" title="Lượt xem"> 10)</span>
            </td><td align="left" valign="top" style="width:20%;">
                <br>
            </td><td align="center" valign="top" style="width:11%;">
                01/06/2022
            </td><td align="left" valign="top" style="width:20%;">
                
            </td>
</tr><tr class="alternate">
<td align="center" valign="top" style="width:5%;">
                1
            </td><td align="left" valign="top" style="width:11%;">
                KHÔNG SỐ
            </td><td align="left" valign="top" style="width:34%;">
                <a href="Index.aspx?P=VB13&amp;I=OO12012022134202U0002"><img border="0" src="Images/Normal.gif" align="top" width="19" height="16">&nbsp;<font color="Navy">------------------------</font></a><span class="ChuThichOO">(<img src="Images/cal-private.gif" title="Người tạo"> Giám Đốc, 12/01/2022 13:42, <img src="Images/eye.png" title="Lượt xem"> 2)</span>
            </td><td align="left" valign="top" style="width:20%;">
                abc<br>
            </td><td align="center" valign="top" style="width:11%;">
                12/01/2022
            </td><td align="left" valign="top" style="width:20%;">
                
            </td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="col_3">
<ul class="oolist">
<div class="btnOO">
    <div id="ctl22_dvThoiHanCV" class="content-box">
        <ul>
            <li><span>NĂM</span></li>
            
            <select name="ctl22$ddlNamVanBan" onchange="javascript:setTimeout('__doPostBack(\'ctl22$ddlNamVanBan\',\'\')', 0)" id="ctl22_ddlNamVanBan" class="inputOO select2-hidden-accessible" style="width:100%;" data-select2-id="ctl22_ddlNamVanBan" tabindex="-1" aria-hidden="true">
<option value="-1">Tất cả</option>
<option selected="selected" value="2022" data-select2-id="2">2022</option>
<option value="2021">2021</option>
<option value="2020">2020</option>
<option value="2019">2019</option>
<option value="2018">2018</option>
<option value="2017">2017</option>
<option value="2016">2016</option>
<option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
<option value="2011">2011</option>
<option value="2010">2010</option>
<option value="2009">2009</option>
<option value="2008">2008</option>
<option value="2007">2007</option>
<option value="2006">2006</option>
<option value="2005">2005</option>
<option value="2004">2004</option>
<option value="2003">2003</option>
<option value="2002">2002</option>
</select><span class="select2 select2-container select2-container--classic" dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ctl22_ddlNamVanBan-container"><span class="select2-selection__rendered" id="select2-ctl22_ddlNamVanBan-container" role="textbox" aria-readonly="true" title="2022">2022</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

        </ul>
    </div>
    
    <div id="ctl22_dvNoiSoanThao" class="content-box">
        <ul>
            <li><span>Nơi soạn thảo</span></li>
            
            <select name="ctl22$ddlNoiSoanThao" onchange="javascript:setTimeout('__doPostBack(\'ctl22$ddlNoiSoanThao\',\'\')', 0)" id="ctl22_ddlNoiSoanThao" class="inputOO select2-hidden-accessible" style="width:100%;" data-select2-id="ctl22_ddlNoiSoanThao" tabindex="-1" aria-hidden="true">
<option selected="selected" value="ALL" data-select2-id="4">Tất cả mọi người</option>
<option value="GP001">Ban Giám Đốc</option>
<option value="GP003">Phòng Tổ Chức Hành Chính</option>
<option value="GP005">Phòng Kỹ Thuật</option>
<option value="GP036">Phòng Thủy Nông</option>
<option value="GP026">Phòng Kinh Doanh</option>
<option value="GP033">Phòng Kế Hoạch Tài Vụ</option>
<option value="GP035">Phòng Hành Chính Quản Trị</option>
<option value="GP002">Phòng Tài chính Kế Toán</option>
<option value="GP032">Phòng Thoát Nước Mưa</option>
</select>
<span class="select2 select2-container select2-container--classic" dir="ltr" data-select2-id="3" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ctl22_ddlNoiSoanThao-container"><span class="select2-selection__rendered" id="select2-ctl22_ddlNoiSoanThao-container" role="textbox" aria-readonly="true" title="Tất cả mọi người">Tất cả mọi người</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
 </ul>
    </div>
    <div style="height:10px;"></div>
        <button [routerLink]="'/document/new-document'"  type = "button"  class = "btn btn-primary " > Thêm văn bản nội bộ </button >
        <button [routerLink]="'/document/search'"  type = "button"  class = "btn btn btn-success ms-2  " > Tìm kiếm </button >
</div>
</ul>
</div>
</div>
<div class="right">
</div>
<div class="col_3">
<div class="content-box">
<ul>
    <li><span>Thư mục văn bản</span> </li>
    <a href="#ctl22_ModuleTreeView_SkipLink" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">Skip Navigation Links.</a><div id="ctl22_ModuleTreeView" style="width: 100%">
<table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t1')"><img src="/WebResource.axd?d=dYYs3OPM-Igo6QKCaeiW7koaWzdg2R5sUu6Cczgg9fbs1kavJa5CMGDhOx556J8rlHP8GnnCf5J7ZpaDg9kIR-QTXLEEEIrXCtLRP8v4iFg1&amp;t=637100542300000000" alt="Expand UỶ BAN NHÂN DÂN TP.HCM<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s1')" id="ctl22_ModuleTreeViewt0i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s1')" id="ctl22_ModuleTreeViewt0">UỶ BAN NHÂN DÂN TP.HCM<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t2')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand SỞ TÀI CHÁNH THÀNH PHỐ<p class='ChuThichOO'>(1)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s2')" id="ctl22_ModuleTreeViewt1i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s2')" id="ctl22_ModuleTreeViewt1">SỞ TÀI CHÁNH THÀNH PHỐ<p class="ChuThichOO">(1)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t3')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand SỞ GIAO THÔNG VẬN TẢI TP.HCM<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s3')" id="ctl22_ModuleTreeViewt2i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s3')" id="ctl22_ModuleTreeViewt2">SỞ GIAO THÔNG VẬN TẢI TP.HCM<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s4')" id="ctl22_ModuleTreeViewt3i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s4')" id="ctl22_ModuleTreeViewt3">HÓA ĐƠN-CHỨNG TỪ<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t5')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand HỢP ĐỒNG<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s5')" id="ctl22_ModuleTreeViewt4i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s5')" id="ctl22_ModuleTreeViewt4">HỢP ĐỒNG<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t6')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand NGHỊ ĐỊNH<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s6')" id="ctl22_ModuleTreeViewt5i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s6')" id="ctl22_ModuleTreeViewt5">NGHỊ ĐỊNH<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s7')" id="ctl22_ModuleTreeViewt6i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s7')" id="ctl22_ModuleTreeViewt6">NGHỊ ĐỊNH NĂM 2019<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s97')" id="ctl22_ModuleTreeViewt7i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s97')" id="ctl22_ModuleTreeViewt7">CÁC HỘ GIA ĐÌNH<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s98')" id="ctl22_ModuleTreeViewt8i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s98')" id="ctl22_ModuleTreeViewt8">CÁC HỘ KINH DOANH DỊCH VỤ ĂN UỐNG<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s99')" id="ctl22_ModuleTreeViewt9i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s99')" id="ctl22_ModuleTreeViewt9">NHÀ HÀNG &amp; KHÁCH SẠN<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t106')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand Quy trình nhập liệu<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s106')" id="ctl22_ModuleTreeViewt10i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s106')" id="ctl22_ModuleTreeViewt10">Quy trình nhập liệu<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s113')" id="ctl22_ModuleTreeViewt11i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s113')" id="ctl22_ModuleTreeViewt11">CÁC CÔNG TRÌNH ĐANG XÂY DỰNG<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s83')" id="ctl22_ModuleTreeViewt12i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s83')" id="ctl22_ModuleTreeViewt12">Phòng HCNS<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t94')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand ĐẤU NỐI CỐNG THOÁT NƯỚC<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s94')" id="ctl22_ModuleTreeViewt13i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s94')" id="ctl22_ModuleTreeViewt13">ĐẤU NỐI CỐNG THOÁT NƯỚC<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t136')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand TƯ VẤN THIẾT KẾ<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s136')" id="ctl22_ModuleTreeViewt14i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s136')" id="ctl22_ModuleTreeViewt14">TƯ VẤN THIẾT KẾ<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t140')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand UBND huyện Củ Chi<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s140')" id="ctl22_ModuleTreeViewt15i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s140')" id="ctl22_ModuleTreeViewt15">UBND huyện Củ Chi<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s10')" id="ctl22_ModuleTreeViewt16i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s10')" id="ctl22_ModuleTreeViewt16">SỞ Y TẾ<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s12')" id="ctl22_ModuleTreeViewt17i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s12')" id="ctl22_ModuleTreeViewt17">BỘ Y TẾ<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s13')" id="ctl22_ModuleTreeViewt18i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s13')" id="ctl22_ModuleTreeViewt18">TONG CONG TY<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t17')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand DỰ ÁN<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s17')" id="ctl22_ModuleTreeViewt19i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s17')" id="ctl22_ModuleTreeViewt19">DỰ ÁN<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t29')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand QUY TRÌNH<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s29')" id="ctl22_ModuleTreeViewt20i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s29')" id="ctl22_ModuleTreeViewt20">QUY TRÌNH<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t32')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand ISO 9001 14001<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s32')" id="ctl22_ModuleTreeViewt21i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s32')" id="ctl22_ModuleTreeViewt21">ISO 9001 14001<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s50')" id="ctl22_ModuleTreeViewt22i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s50')" id="ctl22_ModuleTreeViewt22">HỘI DOANH NHÂN TRẺ VN<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s62')" id="ctl22_ModuleTreeViewt23i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s62')" id="ctl22_ModuleTreeViewt23">Thủ  TỤC QUÂN<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s78')" id="ctl22_ModuleTreeViewt24i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s78')" id="ctl22_ModuleTreeViewt24">BẤT ĐỘNG SẢN<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s79')" id="ctl22_ModuleTreeViewt25i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s79')" id="ctl22_ModuleTreeViewt25">KINH DOANH<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','t80')"><img src="/WebResource.axd?d=V4jZQ5INloX8_sbez5sDtGwQUGZqh8OjKte00Pe71cWW-5Lzxz0TuyZAJzTkxMj9x2Mdj33kvvJ_Zj-wLyxrlgja_qfh2f6bp2OpogQHCTM1&amp;t=637100542300000000" alt="Expand Kế toán<p class='ChuThichOO'>(0)</p>" style="border-width:0;"></a></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s80')" id="ctl22_ModuleTreeViewt26i" tabindex="-1"><img src="/WebResource.axd?d=FjAgghB_68emgNnoKOdDg_YpvrL1aX_zz3VXCsKJaq1GNMjPbobMldQLxjCjpc0fW6XldaX4uAhn-0Fg8nVFW4uGFics_Ln0WE0TyQCAeVI1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s80')" id="ctl22_ModuleTreeViewt26">Kế toán<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s114')" id="ctl22_ModuleTreeViewt27i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s114')" id="ctl22_ModuleTreeViewt27">Thu Chi<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s96')" id="ctl22_ModuleTreeViewt28i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s96')" id="ctl22_ModuleTreeViewt28">ĐẢNG BỘ<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s115')" id="ctl22_ModuleTreeViewt29i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s115')" id="ctl22_ModuleTreeViewt29">ĐƠN GIÁ<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=xnKIOFK8_FM0Qhs_8nLkLaoTtIKdn8-SlHPSPSYDpvtBSejiEivRbRUUzhuY5RYSKd-K9rNsQ0pqdIV980czC_nAuxVRgypJuuxDygPInGQ1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s116')" id="ctl22_ModuleTreeViewt30i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s116')" id="ctl22_ModuleTreeViewt30">HỢP ĐỒNG<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table><table cellpadding="0" cellspacing="0" style="border-width:0;">
<tbody><tr style="height:0px;">
<td></td>
</tr><tr>
<td><img src="/WebResource.axd?d=OVjaQnj7-BgyIYo-ciQX66f95aplGSLIIjiqK8EpFAwmo-Y9jhmwfJL1aPznyX4bDS-TWd0oBJp9qnsdkvHsl_ZgpPoqxUQon3EZniocaag1&amp;t=637100542300000000" alt=""></td><td><a href="javascript:__doPostBack('ctl22$ModuleTreeView','s118')" id="ctl22_ModuleTreeViewt31i" tabindex="-1"><img src="/WebResource.axd?d=Kvw0mB1uRmY0Q_jJ6kSv8zkw4eSGm4Pxc-npBacaQaZcMmxdpnpSr8WHb8R_bP4PUulYAHlX04Tem6UJ_VY_dOiuheLsh2LwUf0dQbETt6A1&amp;t=637100542300000000" alt="" style="border-width:0;"></a></td><td class="ctl22_ModuleTreeView_2" style="white-space:nowrap;"><a class="ctl22_ModuleTreeView_0 ctl22_ModuleTreeView_1" href="javascript:__doPostBack('ctl22$ModuleTreeView','s118')" id="ctl22_ModuleTreeViewt31">test T<p class="ChuThichOO">(0)</p></a></td>
</tr><tr style="height:0px;">
<td></td>
</tr>
</tbody></table>
</div><a id="ctl22_ModuleTreeView_SkipLink"></a>
</ul>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
    <!------------------------------------------------------------------------------------------------------------------------------>
</div>