<div class="container-fluid">
    <ngx-loading [show]="spinnerLoading"
        [config]="{ primaryColour: 'whitesmoke', backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
    <!-- start page title -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông Báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1 my-auto">
            <img (click)="goBack()" style="cursor: pointer;opacity:0.5; width:30px;height:auto; margin:auto"
                src="assets/imgs/left.png" />
        </div>
        <div class="col-10">
            <div class="page-title-box">
                <h4 class="page-title">Dự án công việc</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-10">
            <table  id = "basic-datatable"  class = "table table-bordered table-striped border-color-style
             table-hover table-centered mb-2 dt-responsive nowrap w-100 content-table" >
        <thead>
            <tr>
                <th  class="d-flex justify-content-center" >STT</th>
                <th>Tên dự án</th>
                <th>Tình trạng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of eventListData | paginate: config" data-bs-toggle="modal"
            data-bs-target="#scrollable-modal" (click)="seeDetail(item)">
                <td class="text-center" style="width: 10%;">{{item.number}}</td>
                <td >{{item.name}}</td>
                <td >{{item.status}}</td>
                <td ></td>
            </tr>
            <tr>
                <td><select [(ngModel)]="newlist.number"  name="" id="">
                    <option *ngFor="let i of number()" >{{i}}</option>
                    
                </select></td>
                <td><input  [(ngModel)]="newlist.name"  type="text" id="" style="width:100%;" />
                </td>
                <td>
                    <input (click)="clicknew()" type="submit" name="" value="Thêm mới"  />
                </td>
                <td></td>
            </tr>
            <div class="modal fade" id="scrollable-modal" tabindex="-1" role="dialog"
            aria-labelledby="scrollableModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="scrollableModalTitle">Chi tiết dự án</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                            <li class="nav-item">
                                <a href="#detailTab" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-0 active">
                                    <i class="mdi mdi-information d-md-none d-block"></i>
                                    <span class="d-none d-md-block">Thông tin</span>
                                </a>
                            </li>
                           
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane  show active" id="detailTab">

                                <div class="row">
                                    <div class="mb-2 row">
                                        <label for="simpleinput" class="form-label col-3">STT</label>
                                        <div class="col-9">
                                            <input [readonly]="editable" type="text" id="simpleinput"
                                            [(ngModel)]="eventDetail.title" class="form-control">
                                        </div>
                                    </div>
                                   
                                    <div class="mb-2 row">
                                        <label for="simpleinput" class="form-label col-3">Tên dự án</label>
                                        <div class="col-9">
                                            <textarea class="form-control" [readonly]="editable" id="example-textarea"
                                            [(ngModel)]="eventDetail.description" rows="1"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label for="example-fileinput" class="form-label col-3">Tình trạng</label>
                                        <div class="col-9">
                                            <select class="form-select" id="example-select" >
                                                <option >Đã xử lý</option>
                                                <option>Chưa xử lý</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="tab-pane" id="assigneeTab">
                                <p>{{'working'|uppercase}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button *ngIf="!editable" type="button" class="btn btn-warning"
                            (click)="cancelEditEvent()">Huỷ</button>
                        <button *ngIf="!editable" (click)="close()" type="button" class="btn btn-success">Lưu</button>
                        <button *ngIf="editable" type="button" class="btn btn-primary"
                            (click)="editEvent()">Sửa</button>
                        <button type="button" class="btn btn-danger" >Xóa</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </tbody>
        </table>
        </div>
        <div class="list row">
            <div class="col-md-8">
                <pagination-controls id="paging" [previousLabel]="getLabel('previousBtn')" [nextLabel]="getLabel('nextBtn')"
                    responsive="true" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
            <div class="col-md-4">
                {{getLabel("itemsPerPage")}}:
                <select style="border: solid 1px rgb(230, 229, 229);" (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                    </option>
                </select>
            </div>
