<div class="row">
    <div class="col-3" *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <div class="card rounded">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png"
                        width="50px" alt="icon">
                    <h4>Orders backup...</h4>
                    <i>1 tuần trước</i>
                </div>
            </div>
        </div>
    </div>
</div>