<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div
                                class="d-flex justify-content-center align-items-center icon-round-custom rounded-circle">
                                <i class="uil-list-ul"></i>
                            </div>
                            <div class="ms-2">
                                <h5 class="m-0 text-dark">Tổng số công việc</h5>
                                <h4>100</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div
                                class="d-flex justify-content-center align-items-center icon-round-custom rounded-circle">
                                <i class="uil-check-circle"></i>
                            </div>
                            <div class="ms-2">
                                <h5 class="m-0 text-dark">Số công việc hoàn thành</h5>
                                <h4>19</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div
                                class="d-flex justify-content-center align-items-center icon-round-custom rounded-circle">
                                <i class="uil-users-alt"></i>
                            </div>
                            <div class="ms-2">
                                <h5 class="m-0 text-dark">Tổng số người tham gia</h5>
                                <h4>50</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="card rounded">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div
                                class="d-flex justify-content-center align-items-center icon-round-custom rounded-circle">
                                <i class="uil-clock"></i>
                            </div>
                            <div class="ms-2">
                                <h5 class="m-0 text-dark">Tổng thời gian</h5>
                                <h4>1975</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12">
        <div class="card rounded">
            <div class="card-body">
                <h4 class="card-title mb-0 text-dark">Thông tin cơ bản</h4>
                <div id="cardCollpase1" class="collapse pt-3 show">
                    <ul class="fs-4">
                        <li class="row mb-1">
                            <div class="col-3"><b>Tình trạng:</b></div>
                            <div class="col-9 fw-bolder">Chưa hoàn thành</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Tạo bởi:</b></div>
                            <div class="col-9 fw-bolder">Nguyễn Hồng Sơn</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Dự án:</b></div>
                            <div class="col-9">Xây dựng Phiên bản Online Office Mới</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Khách hàng:</b></div>
                            <div class="col-9">NULL</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Nhóm công việc:</b></div>
                            <div class="col-9">NULL</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Thực hiện chính:</b></div>
                            <div class="col-9">NULL</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Ngày bắt đầu:</b></div>
                            <div class="col-9">01/08/2022</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Ngày kết thúc:</b></div>
                            <div class="col-9">Không xác định</div>
                        </li>
                        <li class="row mb-1">
                            <div class="col-3"><b>Nội dung:</b></div>
                            <div class="col-9">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolores omnis ex ipsa
                                voluptas modi cupiditate incidunt autem est explicabo, magnam deleniti dolorum nobis nam
                                sit eligendi ipsum error quisquam magni obcaecati, hic aspernatur tempora fuga? Error
                                adipisci laboriosam architecto harum saepe! Repellendus iusto inventore obcaecati. Qui
                                enim, impedit culpa quidem sint adipisci amet inventore, nulla maiores facilis harum
                                placeat ducimus velit perferendis nihil molestias exercitationem ad nisi accusamus
                                necessitatibus. Dignissimos voluptas repudiandae iure veritatis aliquam qui doloribus
                                harum numquam! Alias nihil praesentium ducimus aut nulla repellat ipsam corrupti
                                repudiandae qui id a, exercitationem unde ullam delectus magnam reprehenderit
                                consequatur!
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card rounded">
            <div class="card-body">
                <h4 class="card-title text-dark d-flex align-items-center justify-content-between">
                    Hoạt động gần đây
                    <div>
                        <i class="pointer text-{{i.typeColor}}" *ngFor="let i of activityTypes"
                            [class.uil-times-circle]="i.status===false" [class.uil-circle]="i.status===true"
                            (click)="i.status=!i.status"></i>
                    </div>
                </h4>
                <div data-simplebar style="height: 300px;">
                    <ng-container *ngFor="let i of activityTypes">
                        <div class="d-flex justify-content-between activity-wrap" *ngIf="i.status">
                            <div class="d-flex" style="width:80%">
                                <i
                                    class="uil-circle activity-line d-flex flex-column align-items-center justify-content-end text-{{i.typeColor}}"></i>
                                <p class="ms-2 text-break">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui
                                    odio
                                    laudantium ea dolor earum modi culpa saepe delectus labore ipsum. </p>
                            </div>
                            <i class="me-1">09/08/2022</i>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12">
        <div class="card rounded">
            <div class="card-body">
                <h4 class="card-title mb-0 text-dark">Công việc của bạn</h4>
                <div id="cardCollpase1" class="collapse pt-3 show">
                    <canvas baseChart [data]="doughnutChartData" [options]="ChartConfig" [type]="chartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card rounded">
            <div class="card-body">
                <h4 class="card-title text-dark">Lịch</h4>
                <app-calendar [eventList]="events" (getEvents)="getEvents($event)"></app-calendar>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 mt-2">
        <div class="card rounded h-100">
            <div class="card-body">
                <h4 class="card-title text-dark">Danh sách sự kiện</h4>
                <div class="mt-3" data-simplebar style="height: 300px;">
                    <ng-container *ngIf="dateSelectedEvents.items.length > 0">
                        <div class="mt-3 event-item" *ngFor="let item of dateSelectedEvents.items">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column ms-3">
                                    <i>{{dateSelectedEvents.fulldate|date:'dd/MM/yyyy'}}</i>
                                    <div class="d-flex align-items-center">
                                        <div class="h4 m-0 paragraph_ellipsis" style="max-width: 300px;">
                                            {{item.title}}
                                        </div>
                                        <span class="badge bg-danger ms-1">Hết hạn</span>
                                    </div>
                                    <i class="m-0">Lead by {{item.author}}</i>
                                </div>
                                <button class="btn btn-primary">Xem</button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="dateSelectedEvents.items.length === 0">
                        <div class="mt-3">
                            <div class="d-flex justify-content-center flex-column align-items-center event-item">
                                <i class="uil-calendar-slash h1"></i>
                                <h4>Không có sự kiện nào vào ngày {{dateSelectedEvents.fulldate|date:'dd/MM/yyyy'}}
                                </h4>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 mt-2">
        <div class="card rounded h-100">
            <div class="card-body">
                <h4 class="card-title text-dark">Sự kiện kế tiếp</h4>
                <div class="mt-3" data-simplebar style="height: 300px;">
                    <ng-container *ngFor="let item of nextEvent">
                        <div class="mt-3 event-item" *ngFor="let event of item.items">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column ms-3">
                                    <i>{{item.fulldate|date:'dd/MM/yyyy'}}</i>
                                    <div class="d-flex align-items-center">
                                        <div class="h4 m-0 paragraph_ellipsis" style="max-width: 300px;">
                                            {{event.title}}
                                        </div>
                                        <span class="badge bg-danger ms-1">Hết hạn</span>
                                    </div>
                                    <i class="m-0">Lead by {{event.author}}</i>
                                </div>
                                <button class="btn btn-primary">Xem</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mt-3 rounded">
            <div class="card-body">
                <h4 class="card-title">Thảo luận</h4>
                <div class="row">
                    <div class="text-center load-more-comments"><i class="pointer">Hiển thị thêm bình luận</i></div>
                    <div class="d-flex align-items-start" *ngFor="let i of [1,1,1,1]">
                        <app-avatar-tooltip [fullname]="'Nguyễn Hoài Thương'" [size]="'sm'">
                        </app-avatar-tooltip>
                        <div class="ms-2 mb-3">
                            <div class="d-flex align-items-center">
                                <h5>Nguyễn Hoài Thương</h5><i class="ms-1">5 phút trước</i>
                            </div>
                            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium sapiente suscipit
                                consequuntur. Excepturi molestiae quidem corporis ratione quas tempore deleniti
                                voluptatibus impedit necessitatibus nisi maxime possimus, perspiciatis labore corrupti
                                ab saepe inventore nobis optio totam accusantium pariatur neque fuga repellendus?
                                Recusandae tempore adipisci, rem voluptatum culpa at aut fuga placeat laudantium
                                corrupti sunt soluta excepturi dolore. Laborum, tempore quam obcaecati ad ipsam magni!
                                Inventore, possimus eius harum quidem nihil non deleniti blanditiis, tenetur totam
                                veniam accusamus impedit omnis illo corrupti, modi dignissimos fugiat beatae maiores
                                porro quisquam dolorem. Provident quaerat doloribus at quos non est voluptatibus fuga ut
                                eaque! Obcaecati.</div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <angular-editor [config]="editorConfig"></angular-editor>
                    <div class="d-flex justify-content-end mt-1">
                        <button type="button" class="btn btn-success"><i class="uil-message"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>