<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Người xử lý chính</h4>
            <div class="list-group mt-1">
                <div class="list-group-item">
                    <div class="d-flex align-items-start" *ngIf="nguoiTao">
                        <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                        <app-avatar-tooltip [fullname]="nguoiTao.hoTen" [size]="'sm'">
                        </app-avatar-tooltip>
                        <div class="ms-1 d-flex flex-column gap-1">
                            <h5 class="text-dark mb-0">{{nguoiTao.hoTen}}</h5>
                            <i class="text-success fs-6">Đã xử lý</i>
                            <b class="fs-6 text-success" *ngIf="nguoiTao.soLanXem>0">Xem {{i.soLanXem}} lần, lần cuối:
                                {{nguoiTao.thoiGianXem}}</b>
                            <i class="fs-6 text-danger" *ngIf="nguoiTao.soLanXem<1">Chưa xem</i>
                            <label>Đánh giá:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Người tạo</h4>
            <div class="list-group mt-1">
                <div class="list-group-item">
                    <div class="d-flex align-items-start" *ngIf="nguoiTao">
                        <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                        <app-avatar-tooltip [fullname]="nguoiTao.hoTen" [size]="'sm'">
                        </app-avatar-tooltip>
                        <div class="ms-1 d-flex flex-column gap-1">
                            <h5 class="text-dark mb-0">{{nguoiTao.hoTen}}</h5>
                            <i class="text-success fs-6">Đã xử lý</i>
                            <b class="fs-6 text-success" *ngIf="nguoiTao.soLanXem>0">Xem {{i.soLanXem}} lần, lần cuối:
                                {{nguoiTao.thoiGianXem}}</b>
                            <i class="fs-6 text-danger" *ngIf="nguoiTao.soLanXem<1">Chưa xem</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Phối hợp thực hiện</h4>
            <div class="list-group mt-1">
                <div class="list-group-item" *ngFor="let i of dsThamGia">
                    <div class="d-flex align-items-start">
                        <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                        <app-avatar-tooltip [fullname]="i.hoTen" [size]="'sm'">
                        </app-avatar-tooltip>
                        <div class="ms-1 d-flex flex-column gap-1">
                            <h5 class="text-dark mb-0">{{i.hoTen}}</h5>
                            <i class="text-success fs-6">Đã xử lý</i>
                            <b class="fs-6 text-success" *ngIf="i.soLanXem>0">Xem {{i.soLanXem}} lần, lần cuối:
                                {{i.thoiGianXem}}</b>
                            <i class="fs-6 text-danger" *ngIf="i.soLanXem<1">Chưa xem</i>
                            <label>Đánh giá:</label>
                        </div>
                    </div>
                    <!-- <div class="text-end">
                        <span class="badge bg-primary me-1">Kĩ thuật</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Được xem</h4>
            <div class="list-group mt-1">
                <div class="list-group-item" *ngFor="let i of dsDuocXem">
                    <div class="d-flex align-items-start">
                        <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                        <app-avatar-tooltip [fullname]="i.hoTen" [size]="'sm'">
                        </app-avatar-tooltip>
                        <div class="ms-1 d-flex flex-column gap-1">
                            <h5 class="text-dark mb-0">{{i.hoTen}}</h5>
                            <b class="fs-6 text-success" *ngIf="i.soLanXem>0">Xem {{i.soLanXem}} lần, lần cuối:
                                {{i.thoiGianXem}}</b>
                            <i class="fs-6 text-danger" *ngIf="i.soLanXem<1">Chưa xem</i>
                        </div>
                    </div>
                    <!-- <div class="text-end">
                        <span class="badge bg-primary me-1">Kĩ thuật</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>