<div class="container-fluid">
    <div class="col-11">
        <div class="page-title-box">
            <h4 class="page-title">Địa điểm</h4>
        </div>
    </div>
    <table id="basic-datatable" class="table table-bordered table-striped
            border
            border-style table-hover table-centered mb-2 dt-responsive nowrap
            w-100 content-table">
        <thead>
            <tr >
                <th class="d-flex justify-content-center">STT</th>
                <th>Tên địa điểm</th>
                <th>Mô tả</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-stt text-center">
                    1
                </td>
                <td><input class="text" type="text" [readonly]="editable" value="Công viên Lê Thị Chung"></td>
                <td><input type="text" [readonly]="editable" value="Hà Nội"></td>
                <td class="text-center" style="width: 20%;">
                    <button type="submit" name="ctl22$DANHMUC$ctl02$btnDel" 
                    value="Xóa" class="btn btn-danger rounded-pill" onclick="return confirm('Bạn chắc chắn xóa ?');" id="ctl22_DANHMUC_btnDel_0">
                    <i class="uil-trash-alt"></i></button>
                    <button type="button" class="btn btn-danger rounded-pill"><i class="uil-edit-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
