<div class="container-fluid">
    <div class="col-11">
        <div class="page-title-box">
            <h4 class="page-title">Địa điểm</h4>
        </div>
    </div>
    <table id = "basic-datatable"  class = "table table-bordered table-striped
            border-color border-style table-hover table-centered mb-2 dt-responsive nowrap w-100" >
        <thead>
            <tr class="table-success">
                <th class="d-flex justify-content-center">STT</th>
                <th>Tên địa điểm</th>
                <th>Mô tả</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-stt " align="center">
                    1
                </td>
                <td><input class="text" type="text" [readonly]="editable" value="Công viên Lê Thị Chung"></td>
                <td><input type="text" [readonly]="editable" value="Hà Nội"></td>
                <td class="table-action" align="center">
                    <a href="javascript: void(0);" (click)="editable = !editable" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
