<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nhật ký</h4>
            <div class="row ms-3">
                <div class="d-flex align-items-start mt-1" *ngFor="let i of dsNhatKy | paginate: config">
                    <app-avatar-tooltip [fullname]="i.nguoiPhanHoi.hoTen" [size]="'sm'">
                    </app-avatar-tooltip>
                    <div class="ms-2 mb-3">
                        <div class="d-flex">
                            <h5>{{i.nguoiPhanHoi.hoTen}}</h5><label class="ms-1 text-success">({{timeToCalendar(i.thoiGianPhanHoi)}})</label>
                        </div>
                        <div [innerHTML]="i.noiDung"></div>
                    </div>
                </div>
                <pagination-controls id="paging" [previousLabel]="'Quay lại'" [nextLabel]="'Tiếp tục'" responsive="true"
                    responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Nhập phản hồi</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <angular-editor [config]="editorConfig" [(ngModel)]="taskHistory.noiDung"></angular-editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="addAComment()">Phản hồi</button>
            </div>
        </div>
    </div>
</div>