.kichthuoc{
    font-size: 18px;
}
.idcangiua {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 10px auto;
    }
    .border-color{
        border-color: #127b90;
    }
    .border-style{
        border-style: solid;
    }
    