
    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>STT</th>
            <th>Số VB</th>
            <th>Trính yếu</th>
            <th>Nơi nhận</th>
            <th>Ngày nhận</th>
            <th>Nơi phát hành</th>
        </tr>
    </thead>


    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
        </tr>
        <tr>
            <td>Garrett Winpers</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
        </tr>
    </tbody>
</table>
